<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="futbol-app">
  <template>
    <style>
      :host {
        display: block;
        width: 360px;
        height: 360px;
        background: red;
        margin-top: -20px;
      }
    </style>
    <h2>Hello POLYMER, MUAAHAHAHA</h2>
  </template>

  <script>
    Polymer({

      is: 'futbol-app',

      properties: {
        prop1: {
          type: String,
          value: 'futbol-app',
        },
      },

    });
  </script>
</dom-module>
